body,
html {
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;

  margin: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

  color: #333;
}

main {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

footer {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

section {
  padding: 2rem;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
select,
textarea {
  font-size: 16px !important;
}
