$pink: #dd2d4a;
$orange: #ec7d10;
$green: #04f06a;
$yellow: #ffbc0a;
$purple: #c200fb;
$white: #fff;
$black: #333;
$navy: #1f2833;
$ltgrey: #c5c6c7;
$turquoise: #66fcf1;
$teal: #45a29e;
$coral: #ff6978;
